.body {
  font-family: 'Open Sans', sans-serif;
}

.instruction {
  opacity: 0;
  transition: all 0.6s ease;
}

.swatch {
  width: 140px;
  height: 80px;
  margin: 2px;
  border: 2px solid rgb(0, 0, 0);
  flex: 1 1 20%;
}

.swatch > span {
  cursor: pointer;
}

#generateBtn {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 3px solid rgb(32, 178, 170);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  outline: none;
}

.spinner-container {
  height: 30vh;
  display: flex;
}

.spinner-grow {
  width: 2rem;
  height: 2rem;
}

.toast {
  top: 12px;
  right: 12px;
  left: unset;
  z-index: 10;
}

.toast.show {
  opacity: 0.8;
}

.github-ribbon {
  top: 0;
  left: 0;
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 26px;
  }
  .github-ribbon {
    width: 30%;
  }
}
